{% set order = hookable_metadata.context.resource %}
{% set payment = hookable_metadata.context.payment %}

{%- if sylius_adyen_can_be_captured(payment) -%}
    <form action="{{ path('sylius_adyen_admin_order_payment_capture', {'id': order.id, 'paymentId': payment.id}) }}" method="POST" novalidate>
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(payment.id) }}" />
        <button type="submit" class="btn" {{ sylius_test_html_attribute('capture-payment', payment.id) }}>
            {{ ux_icon('tabler:check') }} {{ 'sylius.ui.complete'|trans }}
        </button>
    </form>
{%- endif -%}
